/*
 * other css added by nian
 */

.avatar {
	width: 100%;
	height: 100%;
	margin: auto;
	border-radius: 100%;
}
@media (max-height: 45em) {
	.avatar{
		display: none;
	}
}

.read-all {
	text-align: right;
}

.media-left {
	float: left;
	margin-top: 4px;
}

.media-body {
	padding-left: 60px;
}

.menu {
	padding: 0 3px;
	text-align: right;
}

.menu a {	
	display: inline-block;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #888888;
	padding: 0 5px;
	box-shadow: 0 5px 5px #666666;
}
@media (min-width: 28em)
{
  .menu {
	padding: 0 8px;
	font-size: 20px;
  }
}
@media (min-width: 48em) {
  .menu {
    display:none;
  }
}
