{% assign id_arr = page.id | split: "/" %}

{%if site.data.comments[id_arr.last] %}
  {% assign sorted_comments = (site.data.comments[id_arr.last] | sort: 'date') %}
{% endif %}
{% for c in sorted_comments %}
  <div class="media">
    <div class="media-left">
      <img src="{{ c.author.picture }}" alt="{{ c.author.displayName}}" height="50" width="50">
    </div>
    <div class="media-body">
      <p class="text-muted">
        <a href="{{ c.author.url }}">{{ c.author.displayName }}</a>
		<br/>
        On {{ c.date | date:"%Y-%m-%d" }}
      </p>
      <p>{{ c.content | newline_to_br }}</p>
	  <br/>
    </div>
  </div>
{% else %}
  There are no comments on this post.
  <br/>
  <br/>
{% endfor %}

<noscript>Please enable JavaScript to view the comments.</noscript>
<div id="commentit"></div>
<script type="text/javascript">
  /** CONFIGURATION VARIABLES **/
  var commentitUsername = 'whoisnian';
  var commentitRepo = 'whoisnian/whoisnian.github.io';
  var commentitId = '{{ id_arr.last }}';

  /** DON'T EDIT FOLLOWING LINES **/
  (function() {
      var commentit = document.createElement('script');
      commentit.type = 'text/javascript';
      commentit.async = true;
      commentit.src = 'https://commentit.io/static/embed/dist/commentit.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(commentit);
  })();
</script>
