<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="whoisnian.com">
  <meta name="image" content="https://q1.qlogo.cn/g?b=qq&s=100&nk=763798866">
  <meta property="og:title" content="念的博客">
  <meta property="og:locale" content="zh_CN">
  <meta property="og:description" content="whoisnian.com">
  <meta property="og:site_name" content="念的博客">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://q1.qlogo.cn/g?b=qq&s=100&nk=763798866">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="shortcut icon" href="/public/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
</head>
