<div class="menu">
    <a class="title" href="{{ site.baseurl }}">{{ site.title }}</a>
    <div class="dropdown">
		<div class="more"><a>≡</a></div>
        <div class="drop-content">
            <img style="height:100px;width:100px;margin:auto" src="/avatar.jpg" alt="" />
            <a href="{{ site.baseurl }}">Home</a>
            <a href="{{ site.baseurl }}category/categories/">Categories</a>
            <a href="{{ site.baseurl }}links/">Links</a>
            <a href="{{ site.baseurl }}about/">About</a>
            <span class="sidebar-nav-item">{{ site.icp_id }}</span>
            <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
        </div>
    </div>
</div>
