<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <span><img class="avatar" src="/public/avatar.webp" alt="" /></span>
      <h1>
        <a href="/">{{ site.title }}</a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">Home</a>
      <a class="sidebar-nav-item{% if page.url == '/category/' %} active{% endif %}" href="/category/">Category</a>
      <a class="sidebar-nav-item{% if page.url == '/archives/' %} active{% endif %}" href="/archives/">Archives</a>
      <a class="sidebar-nav-item{% if page.url == '/links/' %} active{% endif %}" href="/links/">Links</a>
      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="/about/">About</a>
    </nav>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
