<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <span><img class="avatar" src="/avatar.jpg" alt="" /></span>
	  <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
	  <a class="sidebar-nav-item{% if page.url == '/category/categories/' %} active{% endif %}" href="{{ site.baseurl }}category/categories/">Categories</a>
	  <a class="sidebar-nav-item{% if page.url == '/category/ArchLinux/' %} active{% endif %}" href="{{ site.baseurl }}category/ArchLinux/">Arch Linux</a>
	  <a class="sidebar-nav-item{% if page.url == '/links/' %} active{% endif %}" href="{{ site.baseurl }}links/">Links</a>
	  <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="{{ site.baseurl }}about/">About</a>
      <span class="sidebar-nav-item">{{ site.icp_id }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
